/* font-family: 'Dongle', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dongle", sans-serif;
}
.full-area {
  display: flex;

  padding: 150px 100px;
}
.circle {
  position: absolute;
  z-index: -1;
}
.section-1 {
  width: 60%;
}
.section-1 h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
}
.section-1 h1 span {
  color: #ff00ff;
}
.section-1 h3 {
  margin-top: 30px;

  font-weight: 700;
  font-size: 40px;
}
.section-1 p {
  font-size: 20px;

  color: darkolivegreen;
  margin-bottom: 20px;
}
.section-1 a {
  margin-left: 60px;
  text-decoration: none;
  background-color: #ff00ff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
}
.section-2 {
  width: 40%;
  display: flex;
  align-items: center;
}
.section-2 img {
  max-width: 100%;
}

.icons ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.icons ul li a i {
  font-size: 50px;
  padding: 0 40px;
  margin-bottom: 30px;
}
